#! /bin/bash

# sample configuration script
# fill in your details

# foursquare
# you can find your token at https://foursquare.com/feeds/
FOURSQUARE_BAK_DIR=/
FOURSQUARE_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
FOURSQUARE_USER="user"
